<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class='container'>
<p style="margin-top:25px;">
{% if user %}
  The username you entered is {{user}}.<br />
  You can update it in the form below:
{% else %}
  Please enter your username in the form below:
{% endif %}
</p>

<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.username.label }} {{ form.username(class="form-control") }}
  </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
</div>
